@import url("Reset.css");
@import url("Carousel.css");
@import url("CV.css");
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

:root {
  /* Main colour scheme */
  --Primary_One: #040404;
  --Primary_Two: #020d0c;
  --Primary_Three: #080805;
  --Secondary_One: #334f47;
  --Secondary_Two: #657e3c;
  --Tint: #92381e;
}

/* Tag Element base styles */
html, body {
  width: 100%;
}

a, p, h1, h2, h3, h4, h5, h6, pre, li, tr, td, th {
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 300%;
  padding: 1%;
  padding-left: 5%;
  vertical-align: middle;
  color: white;
}

h2 {
  font-size: 200%;
  padding: 5% 0%;
}

h3 {
  padding: 2.5% 0%;
  font-size: 125%;
}

ul, li {
  display: block;
}

.picture {
  padding-top: 5%;
  width: 100%;
}

/* Background image/ parallax scrolling  */
.parallax {
  width: auto;
  /* The image used */
  background-image: url("Site_photos/4.jpg");
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* This code adapted from https://www.w3schools.com/howto/howto_css_parallax.asp*/
}

/* Container classes */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0%;
  width: auto;
}

.cont1 {
  background-image: linear-gradient(var(--Primary_One), var(--Primary_Three), var(--Primary_Two), var(--Secondary_One));
  color: white;
  padding: -bottom:2.5%;
  padding-top: 1%;
}

.cont1 h1 {
  padding: 0;
}

.cont2 {
  background-image: linear-gradient(var(--Secondary_One), var(--Secondary_Two));
}

.cont2 li {
  border-bottom: none;
  font-size: 150%;
}

.cont3-1 {
  flex-direction: column;
  margin: 10%;
  width: 80%;
  text-align: center;
  /* border: 2px solid black; */
}

.cont3-2 {
  flex-direction: column;
  justify-content: space-around;
  margin: 10%;
  width: 90%;
  text-align: center;
  /* border: 2px solid black; */
}

.cont4 {
  justify-content: center;
  flex-direction: row;
  margin: 0% auto;
}

#cont41 {
  justify-content: center;
  flex-direction: row;
}

.card1 {
  opacity: 0.9;
  padding: 2.5% 7.5%;
  width: 100%;
  color: white;
}

.icons1 {
  font-size: 90%;
}

.iconbox {
  width: 10%;
}

.iconRow {
  margin: 0;
}

.descbox {
  width: 70%;
  text-align: left;
}

.contactbox1 {
  width: 50%;
  text-align: left;
  flex-direction: column;
}

/* Box System */
/* 4/5 */
.mainBox {
  justify-content: center;
  width: 80%;
  margin: 5% auto;
  height: auto;
  opacity: 0.95;
  background-image: linear-gradient(var(--Primary_One), var(--Primary_Three), var(--Primary_Two), var(--Secondary_One), var(--Secondary_Two));
  flex-direction: row;
  border-radius: 3%;
}

.rows {
  display: flex;
  flex-direction: row;
}

/* 1/4 */
.sideBar {
  width: 25%;
  margin: 2.5%;
  flex-direction: column;
  color: white;
  text-align: center;
  margin-top: 4%;
}

.sideBar img {
  opacity: 1;
  width: auto;
  width: 100%;
  transform: rotate(270deg);
}

.sideBarContent {
  padding: 10% 0%;
}

.sideBarContent p {
  padding: 2% 12.5%;
  text-align: left;
  font-size: 125%;
}

/* 3/4 box */
.articleText {
  width: 75%;
  margin: 2.5%;
  color: white;
}

/* 1/2 */
.splitBox {
  width: 50%;
  margin: 2.5%;
  color: white;
}

.third {
  justify-content: center;
  margin: 1%;
  width: 33%;
}

/* "Full width" */
.fullBox {
  width: 95%;
  margin: 2.5%;
  color: white;
}

.fullBox p {
  font-size: 125%;
}

/* Atomic Styles */
/*  */
/* Table */
.table {
  width: 100%;
  border: 0.5px solid white;
}

.table th {
  border: 0.5px solid white;
  background-color: var(--Tint);
  padding: 1% 1%;
  font-size: 150%;
}

.table tr {
  background-color: var(--Secondary_One);
}

.table td {
  border: 1px solid white;
  padding: 1% 1%;
  font-size: 120%;
}

tr:nth-child(even) {
  background-color: var(--Secondary_Two);
}

/*  */
/* Photo gallery */
.photoRow {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 1% 1%;
}

.photoColumn {
  flex: 25%;
  padding: 0.8%;
}

.photoColumn img {
  margin-top: 1%;
  vertical-align: middle;
  width: 100%;
}

/* NavBar */
.nav {
  list-style-type: none;
  color: white;
}

.nav a {
  text-decoration: none;
  color: white;
}

.navBox {
  border-right: 2px solid var(--Primary_One);
  padding: 1% 4%;
  font-size: 125%;
}

.navBoxLeft {
  border-left: 2px solid var(--Primary_One);
}

.navBox:hover {
  border-bottom: 2.5px solid var(--Tint);
}

/* Footer */
#footer {
  justify-content: space-around;
  background-color: var(--Primary_One);
  background-image: linear-gradient(var(--Secondary_Two), var(--Secondary_One), var(--Primary_Two), var(--Primary_Three), var(--Primary_One));
  color: white;
  text-align: center;
}

#footer h2 {
  padding-top: 0;
}

.footer {
  padding: 3%;
  color: white;
  text-align: center;
}

.footer p {
  padding-bottom: 4%;
}

.footer h3, a, i {
  padding-bottom: 4%;
}

/* Unused atomic elements */
/* .colorBox {
  width: 100%;
  height: 50px;
}

.button {
  margin: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 1s;
  margin: 20px;
  padding: 30px 70px;
  font-size: 20px;
}

.button1 {
  background-color: var(--Secondary_Tint);
  border: 2px solid var(--Secondary);
}

.button1:hover {
  background-color: var(--Secondary_Shade);
  color: white;
}

.button2 {
  background-color: var(--Primart_Tint);
  border: 2px solid var(--Primary);
  color: white;
}

.button2:hover {
  background-color: var(--Primary_Shade);
  color: white;
} */
@media screen and (min-width: 1000px) {
  #active {
    border-bottom: 2px solid white;
  }
}

@media screen and (max-width: 1550px) {
  .icons1 {
    font-size: 80%;
  }
}

@media only screen and (max-device-width: 1400px) {
  .parallax {
    background-attachment: scroll;
  }

  .icons1 {
    font-size: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .table {
    margin: 0 auto;
  }

  .icons1 {
    font-size: 100%;
  }

  .iconRow {
    flex-direction: row;
    width: 100%;
  }

  .table th {
    font-size: 125%;
  }

  .table td {
    font-size: 95%;
  }

  .sideBar {
    flex-direction: row;
    width: 80%;
  }

  .articleText {
    width: 80%;
    justify-content: center;
  }

  .sideBarContent {
    width: 50%;
  }

  .cont2 li {
    border-bottom: none;
    font-size: 150%;
  }

  .cont2 li:hover {
    border-top: 2% solid var(--Primary_Shade);
  }

  .cont3 {
    justify-content: center;
    width: 100%;
  }

  .cont4 {
    width: 80%;
    justify-content: center;
    flex-direction: column;
  }

  .container {
    justify-content: center;
  }

  #active {
    border-bottom: none;
    border-right: 2% solid var(--Tint);
  }

  .photoColumn {
    flex: 50%;
    max-width: 50%;
  }

  .descbox {
    width: 60%;
    text-align: left;
  }

  .icons1 {
    font-size: 80%;
  }

  .contactbox1 {
    width: 100%;
  }

  .splitBox {
    width: 80%;
  }

  #Twitter {
    display: none;
  }

  i {
    font-size: 90%;
  }

  .rows {
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
  }

  .homeContainer {
    width: 85%;
    flex-direction: column;
    margin: 5% auto;
    text-align: center;
    justify-content: center;
  }

  .sideBarContent p {
    padding: 5% 12.5%;
    text-align: left;
    font-size: 100%;
  }

  .fullBox p {
    font-size: 120%;
  }

  h2 {
    font-size: 150%;
  }
}

@media screen and (max-width: 700px) {
  .photoColumn {
    flex: 80%;
    max-width: 80%;
  }

  .mainBox {
    width: 60%;
  }

  .photoRow {
    justify-content: center;
  }

  .sideBarContent p {
    padding: 5% 12.5%;
    text-align: left;
    font-size: 100%;
  }

  .fullBox p {
    font-size: 80%;
    padding: 0% 2%;
  }

  h2 {
    font-size: 125%;
  }

  #cont2 li {
    border-bottom: none;
    font-size: 100%;
  }

  .table th {
    padding: 1% 1%;
    font-size: 100%;
  }

  .table td {
    border: 1px solid white;
    padding: 1% 1%;
    font-size: 80%;
  }

  .fullBox p {
    font-size: 140%;
  }
}