@import url("Reset.css");
@import url("Carousel.css");

:root {
  --Primary: #4a4442;
  --Primart_Tint: #565352;
  --Primary_Shade: #232222;
  --Secondary: #e7842f;
  --Secondary_Tint: #f49758;
  --Secondary_Shade: #af4904;
  --Accent: #d2671e;
  --background: #dedddd
}

html, body {
  width: 100%;
  background-color: var(--background);
}

.parallax {
  /* The image used */
  background-image: url("FolioSite/Assets/Images/background.jpg");
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 42px;
  padding: 1%;
  padding-left: 20px;
  vertical-align: middle;
  color: white;
}

h2 {
  font-size: 30px;
  padding: 10px 0px;
}

ul, li {
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0px;
  width: 100%;
}

/* i {
  font-size: 600%;

} */
#cont1 {
  background-image: linear-gradient(var(--Primary_Shade), var(--Primary));
  color: white;
}

#cont2 {
  background-image: linear-gradient(var(--Primary), #996515);
  background-color: var(--Primary);
  border-bottom: 2px solid var(--Primary_Shade);
}

.cont3 {
  flex-direction: column;
  margin: 50px;
  width: 20%;
  text-align: center;
  /* border: 2px solid black; */
}

.cont3-1 {
  flex-direction: column;
  margin: 50px;
  width: 80%;
  text-align: center;
  /* border: 2px solid black; */
}

.cont3-2 {
  flex-direction: column;
  justify-content: space-around;
  margin: 50px;
  width: 90%;
  text-align: center;
  /* border: 2px solid black; */
}

.icons1 {
  font-size: 500%;
}

.iconbox {
  width: 10%
}

.descbox {
  padding-top: 1.1%;
  width: 50%;
}

.contactbox1 {
  width: 50%;
  flex-direction: column;
}

.cont4 {
  justify-content: center;
  flex-direction: row;
}

.cont41 {
  justify-content: center;
  flex-direction: row;
}

#cont5 {
  justify-content: center;
  flex-direction: row;
  margin: 2px;
  width: 33%;
}

#cont6 {
  flex-direction: row;
  margin: 50px;
  width: 40%;
  text-align: center;
  border: 2px solid black;
  background-color: white;
  justify-content: space-around;
}

#card1a {
  background-color: #040404;
  opacity: 0.8;
  color: white;
}

#card1 {
  opacity: 0.7;
  background-image: linear-gradient(#040404, #040404, #040404, #996515);
  /* background-color: #040404; */
  padding: 10px 15px;
  width: 100%;
  color: white;
}

.nav li {
  padding: 20px 10px;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav {
  list-style-type: none;
  color: white;
  margin: 0px 0px;
}

/* CV set */
.mainBox {
  width: 80%;
  margin: 10%;
  height: auto;
  opacity: 0.7;
  background-image: linear-gradient(#040404, #040404, #040404, #996515);
  flex-direction: row;
}

.rows {
  display: flex;
  flex-direction: row;
}

.textOpacity {
  opacity: 1;
}

.title {
  background-color: #040404;
  opacity: 0.9;
  color: white;
}

.sideBar {
  width: 20%;
  margin: 5%;
  flex-direction: column;
  color: white;
}

.articleText {
  width: 80%;
  margin: 5%;
  color: white;
}

#footer {
  justify-content: space-around;
  background-color: var(--Primary);
  background-image: linear-gradient(#996515, var(--Primart_Tint), var(--Primary_Shade));
  color: white;
  text-align: center;
}

.footer {
  padding: 3%;
  padding-left: 20px;
  color: white;
  text-align: center;
}

.navBox {
  border-right: 2px solid var(--Primary_Shade);
  padding: 2px 25px;
}

.navBox:hover {
  border-bottom: 5px solid var(--Primary_Shade)
}

#active {
  border-bottom: 4px solid var(--Accent);
}

#id1 {
  width: 100%
}

.colorBox {
  width: 100%;
  height: 50px;
}

.button {
  margin: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 1s;
  margin: 20px;
  padding: 30px 70px;
  font-size: 20px;
}

.button1 {
  background-color: var(--Secondary_Tint);
  border: 2px solid var(--Secondary);
}

.button1:hover {
  background-color: var(--Secondary_Shade);
  color: white;
}

.button2 {
  background-color: var(--Primart_Tint);
  border: 2px solid var(--Primary);
  color: white;
}

.button2:hover {
  background-color: var(--Primary_Shade);
  color: white;
}

@media screen and (max-width:1000px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .cont3 {
    width: 80%;
  }

  .cont4 {
    width: 100;
    flex-direction: column;
  }

  #active {
    border-bottom: none;
    border-right: 4px solid var(--Accent);
  }
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
